<div class="col-md-6">
  <h1>{{model.pokemon.identifier}}</h1>

  {{#if model.isEditable}}
    {{delete-member member=model deletePokemon='deletePokemon'}}
    {{pokemon-name-form member=model submit="submit" reset="reset"}}
  {{/if}}

  <img src="https://veekun.com/dex/media/pokemon/main-sprites/omegaruby-alphasapphire/{{model.pokemon.species_id}}{{model.pokemon.extension}}.png" />

  <h2>
    {{#each model.pokemon.types as |type|}}
      {{type.identifier}}
    {{/each}}
  </h2>

  <!-- This may become a component -->
  <select>
    {{#each model.pokemon.abilities as |ability|}}
      <option value={{ability.id}}>{{ability.identifier}}</option>
    {{/each}}
  </select>


  {{#each model.pokemon.pokemon_stats as |statistic|}}
    <h2>{{statistic.stat.identifier}}: {{statistic.base_stat}}</h2>
  {{/each}}

</div>

<div class="col-md-6">
  <h1>Type Effectiveness</h1>
  {{#each model.pokemon.efficacy as |efficacy|}}
    <h4>{{efficacy.damageType}}: {{efficacy.damageFactor}}</h4>
    {{type-bar-ind efficacy=efficacy}}
  {{/each}}
</div>
